fastapi
uvicorn

opencv-python-headless
# mediapipe
mediapipe==0.10.35
numpy

python-multipart

sqlalchemy
psycopg2-binary

passlib[bcrypt]
python-jose[cryptography]

reportlab

email-validator
pydantic

bcrypt==4.0.1

# deepface
# tensorflow
tf-keras
websockets
uvicorn[standard]
pdfplumber
python-docx
openai
python-dotenv
google-generativeai